
/* -- Global --------------------------------*/
body {
  background-color: #190707;
  background-image: url(../img/carbon.png);
  font-family: "courier new";
  font-size: 16px;
  color: #F2F2F2; 
}

h1 {
  font-weight: bold;
  line-height: 0;
}

h2 {
  font-weight: 100;
}

h3 {
  padding-left: 15px;
  padding-top: 10px;
}
/* -- Global -------------------------------*/

/* -- Layout -------------------------------*/
#wrapper {
  height: 598px;
  width: 860px;
  background-color: #2E2E2E;
  margin: 0 auto;
  padding: 10px 10px 0 15px;
}

/* -- Header -------------------------------*/
#header {
  height: 100px;
}

#title {
  width: 50%;
  float: left;
}

h2.title {
  margin-top: 31px;
  text-indent: 28px;
}

#logo {
  width: 50%;
  float: right;
}

#logo img {
  margin-left: 127px;
}

/* -- Sidebar -------------------------------*/
#sidebar {
  height: 480px;
  width: 220px;
  background-color: #2E2E2E;
  float: left;
}

#sidebar a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}


#sidebar i {
  font-size: 34px;
  padding-top: 40px;
  display: inline-block;
}

#sidebar span {
  display: inline-block;
  padding: 47px 0 0 10px;
}

#sidebar div {
  height: 120px;
}

#sidebar div div {
  float: left;
}

#sidebar div div:nth-child(1) {
  width: 120px;
  vertical-align: middle;
}

#sidebar div div:nth-child(2) {
  width: 33px;
}

#sidebar div div:nth-child(3) {
  width: 67px;
}

#content {
height: 460px;
width: 616px;
background-color: #FF8000;
float: left;
padding: 10px;
font-size: 14px;
}

/* -- Content -------------------------------*/
#content img{
  width: 170px;
  height: auto;
}

#content div table tr td:nth-child(1) {
  width: 80px;
  vertical-align: top;
}

#content div:nth-child(2) {
  width: 600px; 
  float: left;
  padding: 20px 0 0 15px;
/*  padding-left: 15px;
  padding-top: 20px;*/
}

#content div:nth-child(3) {
  height: 409px;
  width: 359px;
  float: right;
}


#content div:nth-child(3) div:nth-child(1) {
  height: 419px;
  width: 104px;
  float: left;
  padding-top: 39px;
}

#content div:nth-child(3) div:nth-child(1) ul {
  padding: 0;
  margin-top: 0;
}

#content div:nth-child(3) div:nth-child(1) ul li {
  height: 20px;    
  padding-left: 10px;
  list-style-type: none;
  font-weight: bold;
}

#content div:nth-child(3) div:nth-child(1) ul li:nth-child(4) {
  height: 22px;
}

#content div:nth-child(3) div:nth-child(1) ul li:nth-child(7) {
  height: 0;
}

#content div:nth-child(3) div:nth-child(1) ul li:nth-child(10) {
  height: 0;
}

#content div:nth-child(3) div:nth-child(1) ul li span {
  height: 20px;
  width: 80px;
  padding: 7px 7px 0px;
  background-color: #F2F2F2;
  color: #2E2E2E;    
  vertical-align: middle;
  display: block;
} 

#content div:nth-child(3) div:nth-child(2) {
  height: 220px;
  width: 255px;
  padding: 39px 0 0 0;
  font-size: 15px;
  background-color: #FF8000;
  /*padding-left:  0px;
  padding-top: 39px;*/
}

#content div:nth-child(3) div:nth-child(2) ul {
  padding: 0px;
  margin-top: 1px;
}

#content div:nth-child(3) div:nth-child(2) ul li {
  height: 20px;    
  padding-left: 10px;
  list-style-type: none;
}

#content div:nth-child(3) div:nth-child(2) ul li:nth-child(7) {
  height: 8px;
}

#content div:nth-child(3) div:nth-child(2) ul li:nth-child(9) {
  height: 10px;
}

#content div:nth-child(3) div:nth-child(2) ul li:nth-child(10) {
  height: 0;
}

#content div:nth-child(3) div:nth-child(2) ul li span {
  height: 20px;
  width: 225px;
  padding: 7px 7px 0;
  color: #F2F2F2;    
  display: block;
} 

#content div:nth-child(3) div:nth-child(2) ul li:nth-child(5) span {
  height: 35px;
  padding-top: 0;
}

#content div:nth-child(3) div:nth-child(2) ul li:nth-child(8) span {
  height: 35px;
  padding-top:  0;
}

#content div:nth-child(4) {
  height: 200px;
  width: 193px;
  padding: 150px 19px 19px 28px;
}

#content div:nth-child(4) div {
  height: 183px;
  padding: 10px;
  border: 1px solid #F2F2F2;
}

/* -- Footer -------------------------------*/
#impressum {
  float: right;
  padding-right: 4px;
  font-size: 14px;
  color: #F2F2F2
}
/* -- Layout -------------------------------*/

/* Elements */

.seperator {
  height: 0;
  margin-top: 34px;
  border-right: 1px solid black;
  display: inline-block;
}

.active {
  background-color: #FF8000;
  color: #F2F2F2;
}

.activeImp {
  color: #FF8000;
}

.vita {
  height: 379px;
  width: 601px;
  overflow-y: scroll;
}

